// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import Google Material Symbols
@import "material-symbols/sharp.css";
@import "./material-symbols.config.css";

// Global
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .container__custom {
    padding: 32px 40px;
  }
}
