// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import Google Material Symbols
@import "material-symbols/sharp.css";
@import "./material-symbols.config.css";

//color
:root {
  --primary-bg : #FFFFFF;
  --second-bg : #F6F6F6;
  --text : #19376D;
  --button: #A5D7E8;
}

// Global
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

a:not([class*="btn"]),
button:not([class*="btn"]) {
  display: inline-flex;
  place-content: center;
  place-items: center;
  min-width: 44px;
  min-height: 44px;
  padding: 0 6px;
}

main {
  margin-top: 50px;
}

// logo
.brand__logo {
  padding: 20px 26px;
  border-bottom: 1px solid;
}

.brand__logo h1 {
  font-size: 24px;
  color: var(--text);
  font-weight: bold;
}

// Card Benefit

.benefit h1{
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
}

.benefit .card{
  box-shadow: 9px 12px 20px rgba(126, 126, 126, 0.32);
  border-radius: 16px;
  border: none;
}

.benefit .card h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
}

.benefit .card p{
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
}

//footer 
footer span{
  font-weight: 600;
  font-size: 28px;
  line-height: 52px;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 26px;
  background-color: inherit;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
  border-bottom: 1px solid;

  > a {
    font-size: 24px;
  }

  // Mobile
  .navigation__drawer,
  .navigation__drawer li {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navigation__drawer {
    top: 0;
    right: 0;
    align-self: center;
    list-style: none;
    gap: 10px;

    transition: 120ms ease-out;
  }

  .navigation__drawer a {
    width: 100%;
  }

  .open {
    display: none;
  }

  @media (max-width: 576px) {
    .navigation__drawer {
      border-left: 1px solid;
      border-bottom: 1px solid;
      position: fixed;
      flex-direction: column;
      transform: translateX(150%);
    }

    .open {
      display: inline-flex;
    }

    .open__drawer {
      transform: translateX(0%) translateY(50px);
    }
  }
  // End Mobile
}
